<div class="panel panel-default">
  <!-- Panel Header -->
  <div class="panel-heading">
    <div class="row" style="display: flex; align-items: center;">
      <div class="col-xs-8">
        <h2 class="panel-title" style="font-size: 24px; font-weight: bold; margin: 0;">Contacts</h2>
      </div>
      <div class="col-xs-4 text-right">
        <!-- The New Contact button now navigates to the 'new' route -->
        <button class="btn btn-success" [routerLink]="['new']">New Contact</button>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="list-group">
      <a class="list-group-item clearfix" *ngFor="let contact of contacts" [routerLink]="['/contacts', contact.id]"
        routerLinkActive="active">
        <span>
          <div cdkDrag [cdkDragData]="contact">
            <app-contact-item [contact]="contact" class="img-responsive" style="max-height: 50px;"></app-contact-item>
          </div>
        </span>
      </a>
    </div>
  </div>
</div>